@import "tailwindcss";
@source "../**/*.vue";

@import "./vp-doc-reset.css";
@import "./button.css";

input,
select {
  font-size: 0.875rem;
  font-weight: 400;
  background-color: var(--vp-c-bg);
  border: 2px solid var(--vp-c-border);
  border-radius: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
}

input:focus-visible,
select:focus-visible {
  outline: 2px solid var(--vp-c-tip-1);
  outline-offset: 2px;
}
