name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  prettier-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: Prettier check
        run: pnpm run prettier:check

  lint-types-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: TypeScript check
        run: pnpm run lint:types

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: Build
        run: pnpm build
